[Unit]
Description=couchpotato Service
After=sabnzbd.service couchpotato-data.service
Before=couchpotato-discovery.service
Wants=sabnzbd.service
Requires=couchpotato-data.service couchpotato-discovery.service


[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill couchpotato
ExecStartPre=-/usr/bin/docker rm couchpotato
ExecStartPre=/usr/bin/docker pull sebastianhutter/couchpotato
ExecStart=/usr/bin/docker run --name couchpotato \
  --volumes-from couchpotato-data \
  --volumes-from library \
  -p {{couchpotato_port}}:5050 \
  sebastianhutter/couchpotato \
  couchpotato
ExecStop=/usr/bin/docker stop couchpotato
Restart=on-failure
# up the timeout values
RestartSec=2s
TimeoutStartSec=10s

[Install]
WantedBy=multi-user.target


