[Unit]
Description=Couchpotao Discovery Service
BindsTo=couchpotato.service
After=couchpotato.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStart=/bin/sh -c "while true; do $DNASSCRIPTS/couchpotato-discovery.sh start; sleep 45; done"
ExecStop=$DNASSCRIPTS/couchpotato-discovery.sh stop
