[Unit]
Description=sabnzbd Service
After=library.service nzbtomedia.service sabnzbd-data.service
Before=sabnzbd-discovery.service nzbtomedia-discovery.service
Requires=library.service nzbtomedia.service sabnzbd-data.service sabnzbd-discovery.service nzbtomedia-discovery.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill sabnzbd
ExecStartPre=-/usr/bin/docker rm sabnzbd
ExecStartPre=/usr/bin/docker pull sebastianhutter/sabnzbd
ExecStart=/usr/bin/docker run --name sabnzbd \
  --volumes-from sabnzbd-data \
  --volumes-from library \
  --volumes-from nzbtomedia \
  -p {{sabnzbd_port}}:8085 \
  sebastianhutter/sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd
Restart=on-failure
# up the timeout values
RestartSec=2s
TimeoutStartSec=10s


[Install]
WantedBy=multi-user.target


