[Unit]
Description=Sabnzbd Discovery Service
BindsTo=sabnzbd.service
After=sabnzbd.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStart=/bin/sh -c "while true; do $DNASSCRIPTS/sabnzbd-discovery.sh start; sleep 45; done"
