[Unit]
Description=Sabnzbd Discovery Service
BindsTo=sabnzbd.service
Before=sabnzbd.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStart=/bin/sh -c "while true; do $dnas_scripts/sabnzbd-discovery.sh start; sleep 45; done"
ExecStop=/bin/sh -c "$dnas_scripts/sabnzbd-discovery.sh stop"
