[Unit]
Description=sabnzbd Service
After=sabnzbd-data.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill sabnzbd
ExecStartPre=-/usr/bin/docker rm sabnzbd
ExecStartPre=/usr/bin/docker pull sebastianhutter/sabnzbd
ExecStart=/usr/bin/docker run --name sabnzbd \
  --volumes-from sabnzbd-data \
  --volumes-from library \
  --volumes-from nzbtomedia \
  -p 8085:8085 \
  sebastianhutter/sabnzbd \
  sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd
Restart=never

[Install]
WantedBy=multi-user.target


