[Unit]
Description=sabnzbd Data Service
After=library.service nzbtomedia.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill sabnzbd-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/sabnzbd
ExecStartPre=-/usr/bin/docker create --name sabnzbd-data \
  --volume /home/sabnzbd/Downloads \
  --volume /home/sabnzbd/.sabnzbd \
  sebastianhutter/sabnzbd \
  /bin/true
ExecStart=/usr/bin/docker start sabnzbd-data
ExecStop=/usr/bin/docker stop sabnzbd-data
Restart=no

[Install]
WantedBy=multi-user.target


