[Unit]
Description=nzbtomedia Service
After=etcd.service docker.service
Requires=etcd.service docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill nzbtomedia
ExecStartPre=-/usr/bin/docker rm nzbtomedia
ExecStartPre=/usr/bin/docker pull sebastianhutter/nzbtomedia
ExecStartPre=-/usr/bin/docker create --name nzbtomedia \
  sebastianhutter/nzbtomedia \
  nzbtomedia
ExecStart=/usr/bin/docker start nzbtomedia
ExecStop=/usr/bin/docker stop nzbtomedia
Restart=never

[Install]
WantedBy=multi-user.target


