[Unit]
Description=sickbeard Service
After=sickbeard-data.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill sickbeard
ExecStartPre=-/usr/bin/docker rm sickbeard
ExecStartPre=/usr/bin/docker pull sebastianhutter/sickbeard
ExecStart=/usr/bin/docker run --name sickbeard \
  --volumes-from sickbeard-data \
  --link sabnzbd \
  -p {{sickbeard_port}}:8081 \
  sebastianhutter/sickbeard \
  sickbeard
ExecStop=/usr/bin/docker stop sickbeard
Restart=on-failure
# up the timeout values
RestartSec=2s
TimeoutStartSec=10s


[Install]
WantedBy=multi-user.target


