[Unit]
Description=sickbeard Data Service
After=sabnzbd.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill sickbeard-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/sickbeard
ExecStart=/usr/bin/docker run --name sickbeard-data \
  --volume /opt/sickbeard-data \
  sebastianhutter/sickbeard \
  /bin/true
ExecStop=/usr/bin/docker stop sickbeard-data
Restart=never

[Install]
WantedBy=multi-user.target


