[Unit]
Description=Sickbeard Discovery Service
BindsTo=sickbeard.service
After=sickbeard.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStart=/bin/sh -c "while true; do $DNASSCRIPTS/sickbeard-discovery.sh start; sleep 45; done"
ExecStop=$DNASSCRIPTS/sickbeard-discovery.sh stop