#
# this file contains environment variables for the different docker init files
#

# variables for systemd files
PLEXPORT={{plex_port}}
SABNZBDPORT={{sabnzbd_port}}
SICKBEARDPORT={{sickbeard_port}}
COUCHPORT={{couchpotato_port}}

DNASSCRIPTS={{dnas_scripts}}