#
# this file contains environment variables for the different docker init files
#

# the file is loaded by unit files from systemd

etcd_ip=`ip add show dev docker0 | grep inet | sed -e 's/^[ \t]*//' | cut -d" " -f2 | sed -e 's/\///'`

rssdler_daemon=`/usr/bin/docker inspect -f '{{index .Volumes "/var/lib/rssdler" }}' rssdler`/workingdir/daemon.info