#
# this file contains environment variables for the different docker init files
#

# the file is loaded by unit files from systemd

#rssdler_download={{rssdler_download}}
#rssdler_working={{rssdler_working}}
#rssdler_logs={{rssdler_logs}}