[Unit]
Description=etcd Service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/etcd
TimeoutStartSec=10
WorkingDirectory=/opt/etcd
ExecStart=/opt/etcd/etcd
User=etcd
Group=etcd
Restart=on-failure

[Install]
WantedBy=multi-user.target


