[Unit]
Description=plex Data Service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill plex-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/plex
ExecStartPre=-/usr/bin/docker create --name plex-data \
  --volume /var/lib/plexmediaserver/Library \
  sebastianhutter/plex \
  /bin/true
ExecStart=/usr/bin/docker start plex-data
ExecStop=/usr/bin/docker stop plex-data
Restart=no

[Install]
WantedBy=multi-user.target


