[Unit]
Description=plex Data Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill plex-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/plex
ExecStart=/usr/bin/docker run --name plex-data \
  --volume /var/lib/plexmediaserver/Library \
  sebastianhutter/plex \
  /bin/true
ExecStop=/usr/bin/docker stop plex-data
Restart=on-failure

[Install]
WantedBy=multi-user.target


