[Unit]
Description=plex Service
After=plex-data.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStartPre=/usr/bin/docker pull sebastianhutter/plex
ExecStart=/usr/bin/docker run --name plex \
  --volumes-from plex-data \
  --volumes-from library \
  -p {{plex_port}}:32400 \
  sebastianhutter/plex \
  plex
ExecStop=/usr/bin/docker stop plex
Restart=on-failure
# up the timeout values
RestartSec=2s
TimeoutStartSec=10s


[Install]
WantedBy=multi-user.target
