[Unit]
Description=plex Service
After=library.service plex-data.service
Requires=library.service plex-data.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStartPre=/usr/bin/docker pull sebastianhutter/plex
ExecStart=/usr/bin/docker run --name plex \
  --volumes-from plex-data \
  --volumes-from library \
{% for port in plex_port_tcp %}
        -p {{port}}:{{port}} \
{% endfor %}
{% for port in plex_port_udp %}
        -p {{port}}:{{port}}/udp \
{% endfor %}
  sebastianhutter/plex \
  plex
ExecStop=/usr/bin/docker stop plex
Restart=on-failure
# up the timeout values
RestartSec=2s
TimeoutStartSec=10s




[Install]
WantedBy=multi-user.target
