[Unit]
Description=rssdler Data Service
After=library.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill rssdler-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/rssdler
ExecStartPre=-/usr/bin/docker create --name rssdler-data \
  --volume /var/lib/rssdler \
  sebastianhutter/rssdler \
  /bin/true
ExecStart=/usr/bin/docker start rssdler-data
ExecStop=/usr/bin/docker stop rssdler-data
Restart=no

[Install]
WantedBy=multi-user.target


