[Unit]
Description=rssdler Data Service
After=docker.service
After=etcd.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill rssdler-data
ExecStartPre=/usr/bin/docker pull sebastianhutter/rssdler
ExecStart=/usr/bin/docker run --name rssdler-data \
  --volume /var/lib/rssdler \
  sebastianhutter/rssdler \
  /bin/true
ExecStop=/usr/bin/docker stop rssdler-data
Restart=on-failure

[Install]
WantedBy=multi-user.target


