[Unit]
Description=rssdler Service
After=rssdler-data.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/dnas
ExecStartPre=-/usr/bin/docker kill rssdler
ExecStartPre=-/usr/bin/docker rm rssdler
ExecStartPre=/usr/bin/docker pull sebastianhutter/rssdler
ExecStart=/usr/bin/docker run --name rssdler \
  --volumes-from rssdler-data \
  --volumes-from library \
  sebastianhutter/rssdler \
  rssdler --config /var/lib/rssdler/rssdler.conf -r
# we need to remove the file daemon.info or else a restart of the client
# will fail
ExecStopPre=/usr/bin/docker exec -d rssdler rm -f /var/lib/rssdler/workingdir/daemon.info
ExecStop=/usr/bin/docker stop rssdler
Restart=never

[Install]
WantedBy=multi-user.target


